a.attention_white {
  display: inline-block !important;
  background: transparent !important;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-radius: 20px !important;
  min-width: 205px !important;
  max-width: 100% !important;
  font-size: 100% !important;
  line-height: 2 !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  padding: 5px !important;
  transition: all 0.2s !important;
}
a.attention_white:visited {
  background: transparent !important;
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
  text-decoration: none !important;
}
a.attention_white:active {
  background: #ffffff !important;
  color: #1e8fff !important;
  border: 2px solid #ffffff !important;
  text-decoration: none !important;
}
a.attention_white:hover {
  background: #ffffff !important;
  border-color: #ffffff !important;
  color: #1e8fff !important;
  text-decoration: none !important;
  opacity: 1 !important;
}


