a.ghostheader {
  display: inline-block !important;
  background: #333333 !important;
  color: #ffffff !important;
  border: 2px solid #333333 !important;
  border-radius: 60px !important;
  max-width: 100% !important;
  font-size: 11px !important;
  letter-spacing: 0px !important;
  line-height: 1em !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  padding: 10px 28px 10px 28px !important;
  transition: all 0.2s !important;
}
a.ghostheader:visited {
  background: #333333 !important;
  color: #ffffff !important;
  border: 2px solid #333333 !important;
  text-decoration: none !important;
}
a.ghostheader:active {
  background: #ffffff !important;
  color: #333333 !important;
  border: 2px solid #333333 !important;
  text-decoration: none !important;
}
a.ghostheader:hover {
  background: #ffffff !important;
  color: #333333 !important;
  border: 2px solid #333333 !important;
  text-decoration: none !important;
  opacity: 1 !important;
}


