a.navigation {
  display: inline-block !important;
  background: transparent !important;
  color: #000000 !important;
  border: 1px solid #000000 !important;
  border-radius: 3px !important;
  min-width: 2.4em !important;
  font-size: 100% !important;
  line-height: 1.3 !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  padding: 0.5em 1em !important;
  transition: all 0.2s !important;
  margin: 0.5em  !important;
}
a.navigation:visited {
  background: transparent !important;
  color: #000000 !important;
  border: 1px solid #000000 !important;
  text-decoration: none !important;
}
a.navigation:active {
  background: #000000 !important;
  color: #ffffff !important;
  border: 1px solid #000000 !important;
  text-decoration: none !important;
}
a.navigation:hover {
  background: #000000 !important;
  color: #ffffff !important;
  border: 1px solid #000000 !important;
  text-decoration: none !important;
  opacity: 1 !important;
}


