a.orange {
  display: inline-block !important;
  background: transparent !important;
  color: #f38900 !important;
  border: 1px solid #f38900 !important;
  border-radius: 6px !important;
  min-width: 223px !important;
  max-width: 100% !important;
  font-size: 11px !important;
  line-height: 1.8 !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  padding: 0.8em !important;
  transition: all 0.2s !important;
}
a.orange:visited {
  background: transparent !important;
  color: #f38900 !important;
  border: 1px solid #f38900 !important;
  text-decoration: none !important;
}
a.orange:active {
  background: #f38900 !important;
  color: #ffffff !important;
  border: 1px solid #f38900 !important;
  text-decoration: none !important;
}
a.orange:hover {
  background: #f38900 !important;
  color: #ffffff !important;
  border: 1px solid #f38900 !important;
  text-decoration: none !important;
  opacity: 1 !important;
}
@media (max-width: 836px) {
  a.orange {
    min-width: auto !important;
  }
}


