a.pagetop {
  display: inline-block !important;
  background: transparent !important;
  color: #000000 !important;
  border: 1px solid transparent !important;
  border-radius: 3px !important;
  min-width: 2.4em !important;
  font-size: 90% !important;
  line-height: 1.3 !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  padding: 0.5em 1em !important;
  margin: 0.5em 0em !important;
  transition: all 0.2s !important;
}
a.pagetop:visited {
  background: transparent !important;
  color: #000000 !important;
  border: 1px solid transparent !important;
  text-decoration: none !important;
}
a.pagetop:active {
  background: #2995a3 !important;
  color: #000000 !important;
  border: 1px solid #2995a3 !important;
  text-decoration: none !important;
}
a.pagetop:hover {
  background: #2995a3 !important;
  color: #000000 !important;
  border: 1px solid #2995a3 !important;
  text-decoration: none !important;
  opacity: 1 !important;
}


