@charset "UTF-8";
.-dress_pp005a .bg-window {
	color: #555
}
.-dress_pp005a .c-menu li {
	border-color: #999
}
.-dress_pp005a .c-menu li:first-child {
	border-color: #999
}
.-dress_pp005a .c-menu li a {
	border-color: #555
}
.-dress_pp005a .b-headlines .column {
	background-color: #f0f0f0
}
.-dress_pp005a .b-tab_navigation {
	font-size: 0
}
.-dress_pp005a .b-tab_navigation li {
	margin-right: 1px
}
.-dress_pp005a .b-tab_navigation li a {
	background-color: #737d8c;
	color: #fff;
	padding: 1em
}
.-dress_pp005a .b-tab_navigation li.-active a, .-dress_pp005a .b-tab_navigation li a:hover {
	background-color: #203149;
	padding: 1em;
	color: #fff
}
.-dress_pp005a .b-accordion .column {
	background: #f0f0f0
}
.-dress_pp005a .b-accordion_navigation a {
	color: #fff;
	background: #4a576a
}
.-dress_pp005a .b-accordion_navigation.-active a, .-dress_pp005a .b-accordion_navigation a:hover {
	background: #203149;
 filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	filter: alpha(opacity=100)
}
.-dress_pp005a .c-body {
	color: #333
}
.-dress_pp005a .c-page_title {
	font-size: 30px;
	line-height: 1.4;
	color: #203149
}
.-dress_pp005a .c-title {
	font-size: 30px;
	letter-spacing: .2em;
	line-height: 1.4;
	color: #203149;
	margin-bottom: 40px
}
.-dress_pp005a .c-large_headline {
	font-size: 18px;
	letter-spacing: .2em;
	line-height: 1.4;
	color: #333;
	margin-bottom: 25px
}
.-dress_pp005a .c-small_headline {
	font-size: 14px;
	color: #203149;
	margin-bottom: 10px
}
.-dress_pp005a .c-enclosure {
	border-color: #555;
	margin-bottom: 10px
}
.-dress_pp005a .c-list_table th {
	background: #203149;
	color: #fff;
	border-top: 1px solid #999
}
.-dress_pp005a .c-list_table td {
	border-top: 1px solid #999;
	color: #333
}
.-dress_pp005a .c-list_table tr:first-child th, .-dress_pp005a .c-list_table tr:first-child td {
	border-top: 0 none
}
.-dress_pp005a .c-list_news {
	border-top: 1px solid #999
}
.-dress_pp005a .c-hr {
	border-top: 3px solid #203149
}
.-dress_pp005a .m-motion.-f li a {
	color: #203149;
	background-color: transparent;
	border-bottom: none
}
.-dress_pp005a .m-motion.-f > li:hover > a + ul > li:first-child:after, .-dress_pp005a .m-motion.-f > li:hover > .c-unlink + ul > li:first-child:after {
	border-top: none
}
.-dress_pp005a .m-motion.-f > li > ul li:first-child:before {
	border-bottom-color: #203149
}
.-dress_pp005a .m-motion.-f > li > ul > li a {
	color: #fff
}
.-dress_pp005a .m-motion.-f > li > ul > li a, .-dress_pp005a .m-motion.-f > li > ul > li .c-unlink {
	background-color: #203149;
	border-bottom: 1px solid #eee
}
.-dress_pp005a .m-motion.-f > li > ul > li a:hover {
	background-color: #bbb;
	color: #fff
}
.-dress_pp005a .m-motion.-g {
	background-color: transparent
}
.-dress_pp005a .m-motion.-g a {
	color: #203149
}
.-dress_pp005a .m-motion.-g .lavalamp-object {
	background-color: #bbb;
	border: none
}
.-dress_pp005a .m-motion.-g li {
	margin-left: 50px;
	line-height: 30px
}
.-dress_pp005a .m-motion.-j a {
	color: #203149
}
.-dress_pp005a .m-motion.-j .lavalamp-object {
	border-top: 2px solid #203149
}
.-dress_pp005a .m-motion.-h li a {
	background-color: #203149;
	color: #fff
}
.-dress_pp005a .m-motion.-h li a:hover {
 filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #4a576a;
	width: 170px;
	padding-left: 40px
}
.-dress_pp005a .m-motion.-i li {
	margin-bottom: 3px
}
.-dress_pp005a .m-motion.-i li a {
	border-bottom: 3px solid #4a576a;
	background-color: #203149;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	color: #fff
}
.-dress_pp005a .m-motion.-i li a:hover {
	border-color: #999
}
.-dress_pp005a .c-list_indent td {
	padding-left: 1em;
	padding-bottom: 1.5em;
	padding-top: .8em
}
.-dress_pp005a .-menu_d li, .-dress_pp005a .-menu_e li {
	border-left: 1px solid
}
.-dress_pp005a .c-menu.-menu_d li:first-child, .-dress_pp005a .c-menu.-menu_e li:first-child {
	border: none
}
.-dress_pp005a .c-list-sign {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 1em;
	text-indent: -1em
}
.-dress_pp005a .m-motion.-j li {
	padding-top: .6em
}
.-dress_pp005a .c-menu li .c-unlink {
	color: #aaa
}
.-dress_pp005a .c-menu li .c-current {
	color: #000
}
.-dress_pp005a .c-pager span {
	padding-left: 10px;
	padding-right: 10px
}
.-dress_pp005a .c-pager a {
	padding-left: 10px;
	padding-right: 10px
}
.-dress_pp005a .c-note {
	font-size: 12px
}
.-dress_pp005a .c-credit {
	font-size: 12px
}
.-dress_pp005a .c-menu.-menu_a li {
	border: none;
	font-size: 16px
}
.-dress_pp005a .c-menu.-menu_a li a {
	color: #203149
}
.-dress_pp005a .c-menu.-menu_a.-v {
	border-top: none
}
.-dress_pp005a .c-menu.-menu_a.-v li {
	font-size: 14px
}
.-dress_pp005a .c-menu.-menu_a.-v li a {
	border-bottom: none;
	padding-top: 10px;
	padding-bottom: 10px
}
.-dress_pp005a .c-menu.-menu_b li {
	border: none;
	font-size: 16px;
	font-weight: bold
}
.-dress_pp005a .c-menu.-menu_b li a {
	color: #203149
}
.-dress_pp005a .c-menu.-menu_b.-v {
	border-top: 1px solid #bcc1c8
}
.-dress_pp005a .c-menu.-menu_b.-v li {
	font-size: 14px;
	font-weight: normal
}
.-dress_pp005a .c-menu.-menu_b.-v li a {
	border-color: #bcc1c8;
	padding-top: 15px;
	padding-bottom: 15px
}
.-dress_pp005a .b-tab .b-tab_contents .column {
	padding: 20px;
	background-color: #b1b6be
}
.-dress_pp005a .b-tab.-slide .b-tab_contents .column {
	padding: 30px;
	background-color: transparent
}
.-dress_pp005a .b-tab.-slide .b-tab_navigation li a {
	background-color: transparent;
	color: #203149;
	padding: 1em
}
.-dress_pp005a .b-tab.-slide .b-tab_navigation li.-active a, .-dress_pp005a .b-tab.-slide .b-tab_navigation li a:hover {
	background-color: transparent;
	padding: 1em;
	color: #203149;
	border-bottom: 3px solid #333
}
.-dress_pp005a .c-list_indent th {
	font-weight: bold;
	color: #203149;
	border-bottom-color: #203149
}
.-dress_pp005a .c-list_news th {
	color: #203149
}
.-dress_pp005a .a-header .c-menu.-menu_a li a {
	color: #fff
}

.-dress_pp005a .a-footer .c-title, .-dress_pp005a .a-footer .c-body, .-dress_pp005a .a-footer .c-credit {
	color: #fff
}
.-dress_pp005a .b-headlines .column h4 {
	background-color: #203149;
	font-size: 18px;
	color: #fff;
	padding: 10px
}
.-dress_pp005a .b-headlines .column .c-body {
	padding: 0 20px
}
.-dress_pp005a .b-headlines .column .c-list-sign {
	padding: 0 20px
}
.-dress_pp005a .b-headlines .column .c-lead {
	padding: 0 20px 20px;
	font-weight: bold
}

@media (max-width: 641px) {
.-dress_pp005a .a-header .c-menu.-menu_a {
	display: block
}
.-dress_pp005a .a-header .c-menu.-menu_a li a {
	color: #333
}
}
