@charset "UTF-8";

@media (max-width: 641px) {
.cssskin-_header_gnavi .column.-column1 {
  width: 35% !important;
  float: left;
}

.cssskin-_header_gnavi .column.-column2 {
  width: 48% !important;
  float: left;
}

.cssskin-_header_gnavi .column.-column3 {
  width: 8% !important;
  float: right;
}

}
