@charset "UTF-8";

.cssskin-block_float  {
  max-width: 1700px !important;
  margin: 0 auto !important;
}

@media only screen and (max-width: 641px) {
.cssskin-block_float  {
  max-width: 100% !important;
}

}
