@charset "UTF-8";
.-dress_navy a {
	color: #2e5075;
}
.-dress_navy .c-menu li {
}
.-dress_navy .c-menu li:first-child {
}
.-dress_navy .c-menu li a {
	color: #fff;
}
.-dress_navy .c-menu li .c-unlink, .-dress_navy .c-menu li .c-unlink .c-body {
	color: #ccc;
}
.-dress_navy .c-menu.-menu_a li a, .-dress_navy .c-menu.-menu_b li a {
	color: #555;
}
#1B385F  .-dress_navy .c-menu.-menu_c li {
	border-color: #1B385F;
}
.-dress_navy .c-menu.-menu_c, .-dress_navy .c-menu.-menu_c li a, .-dress_navy .c-menu.-menu_c li:first-child a, .-dress_navy .c-menu.-menu_d {
	background: #2e5075;
}
.-dress_navy .c-menu.-menu_c li a:hover {
	background: #1B385F;
}
.-dress_navy .c-menu.-menu_d.-v {
	background: none;
}
.-dress_navy .c-menu.-menu_d li a, .-dress_navy .c-menu.-menu_d li .c-unlink, .-dress_navy .c-menu.-menu_d li:first-child a, .-dress_navy .c-menu.-menu_d li:first-child .c-unlink {
	background: #2e5075;
}
.-dress_navy .c-menu.-menu_c li, .-dress_navy .c-menu.-menu_d li a, .-dress_navy .c-menu.-menu_e li a, .-dress_navy .c-menu.-menu_e li:first-child a {
	color: #fff;
}
.-dress_navy .c-menu.-menu_e.-v li a, .-dress_navy .c-menu.-menu_e {
	background: linear-gradient(to bottom, rgb(53,90,132) 0%, rgb(47,90,136) 45%, rgb(46,80,117) 48%, rgb(27,56,95) 100%);
}
.-dress_navy .c-menu.-menu_e {
	border-radius: 4px;
}
.-dress_navy .c-menu.-menu_e li a:hover {
	background-color: #222;
}
.-dress_navy .c-menu.-menu_e.-v {
	background: none;
	border: none;
	box-shadow: none;
}
.-dress_navy .c-menu.-menu_e.-v li .c-unlink {
	background: #1B385F;
}
.-dress_navy {
	color: #555;
}
.-dress_navy .b-plain .column {
}
.-dress_navy main .b-both_diff .column {
}
.-dress_navy .b-headlines .column {
}
.-dress_navy .b-album .column {
}
.-dress_navy .b-tab_navigation {
	font-size: 0;
}
.-dress_navy .b-tab_navigation li {
	margin-right: 1px;
}
.-dress_navy .b-tab_navigation li a {
	background-color: #2e5075;
	font-size: 1rem;
	color: #fff;
}
.-dress_navy .b-tab_navigation li.-active a, .-dress_navy .b-tab_navigation li a:hover {
	background-color: #1B385F;
	color: #fff;
}
.-dress_navy .b-accordion .column {
}
.-dress_navy .b-accordion_navigation a {
	background: #2e5075;
	color: #fff;
}
.-dress_navy .b-accordion_navigation.-active a, .-dress_navy .b-accordion_navigation a:hover {
	background: #1B385F;
 filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	filter: alpha(opacity=100);
}
.-dress_navy .b-accordion_navigation {
	border-top: 1px solid #749ECC;
}
.-dress_navy .c-body {
	color: #555;
}
.-dress_navy .c-page_title {
	color: #2e5075;
}
.-dress_navy .c-title {
	color: #2e5075;
}
.-dress_navy .c-large_headline {
	color: #2e5075;
}
.-dress_navy .c-small_headline {
	color: #2e5075;
}
.-dress_navy .c-lead {
}
.-dress_navy .c-enclosure {
	border-color: #999;
}
.-dress_navy .c-list_table th {
	color: #fff;
	background: #2e5075;
	border-top: 1px solid #999;
}
.-dress_navy .c-list_table td {
	border-top: 1px solid #999;
}
.-dress_navy .c-list_table tr:first-child th, .-dress_navy .c-list_table tr:first-child td {
	border-top: 0 none;
}
.-dress_navy .c-list_news {
	border-top: 1px solid #999;
}
.-dress_navy .c-hr {
}
.-dress_navy .m-motion.-f li a:hover {
	background-color: #A6CCF5;
	border-bottom: 1px solid #fff;
}
.-dress_navy .m-motion.-f > li > a + ul:before {
	border-top-color: #A6CCF5;
}
.-dress_navy .m-motion.-f > li > ul li:first-child:before {
	border-bottom-color: #A6CCF5;
}
.-dress_navy .m-motion.-f > li > ul > li a, .-dress_navy .m-motion.-f > li > ul > li .c-unlink {
	background-color: #A6CCF5;
	border-bottom: 1px solid #fff;
}
.-dress_navy .m-motion.-f > li > ul > li a:hover {
	background-color: #749ECC;
	color: none;
	border-bottom: 1px solid #fff;
}
.-dress_navy .m-motion.-g {
	padding: 0;
	margin: 0;
}
.-dress_navy .m-motion.-g li a {
}
.-dress_navy .m-motion.-g li a:hover {
}
.-dress_navy .m-motion.-g .lavalamp-object {
	background-color: #A6CCF5;
}
.-dress_navy .m-motion.-g li {
	margin-left: 0px;
}
.-dress_navy .m-motion.-j a {
	color: #2e5075;
}
.-dress_navy .m-motion.-j .lavalamp-object {
	border-top: 1px dotted #2e5075;
}
.-dress_navy .m-motion.-h li a {
	background-color: #2e5075;
	color: #fff;
}
.-dress_navy .m-motion.-h li a:hover {
 filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #1B385F;
	width: 170px;
	padding-left: 40px;
}
.-dress_navy .m-motion.-i li a {
	background: #2e5075;
	color: #fff;
	border: 1px solid #1B385F;
	border-bottom-width: 3px;
	-webkit-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
.-dress_navy .m-motion.-i li a:hover {
	border-color: #1B385F;
}

@media (max-width: 641px) {
.-dress_navy .c-sp_navigation_btn {
	background: #2e5075;
	border-color: #1B385F;
}
.-dress_navy .c-sp_navigation_btn .c-sp-navigation_line1, .-dress_navy .c-sp_navigation_btn .c-sp-navigation_line2, .-dress_navy .c-sp_navigation_btn .c-sp-navigation_line3 {
	border-top: 4px solid #fff;
}
.-dress_navy .c-menu.-menu_e li a {
	background: linear-gradient(to bottom, rgb(53,90,132) 0%, rgb(47,90,136) 45%, rgb(46,80,117) 48%, rgb(27,56,95) 100%);
	border-radius: 4px;
}
}
