@charset "utf-8";
/* page setting
--------------------------------------------------------- */
#a-site_contents { max-width:1000px; }
@media (max-width: 641px) {

}


#page .bg-document { 
 background-image: url(../../_src/9591/img20160302223614960137.jpg); 
 background-attachment :fixed; 
 background-repeat:repeat-x; 
 background-position:left bottom; 
 }
#page { 
 }

#a-header {
 background-image: url(../../_src/9592/img20160302220555275193.jpg); 
 background-repeat:no-repeat; 
 background-position:center bottom; 
	}
#a-billboard {
	}
#a-main {
	}
#a-side-a {padding:0px 20px 0px 0px ;	
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document { 
}
#page { 
}
	#a-header {padding:0px 0px 0px 0px;	 
	}
	#a-billboard {padding:0px 0px 0px 0px;	 
	}
	#a-main {padding:0px 0px 0px 0px;	 
	}
	#a-side-a {padding:0px 0px 0px 0px ;	 
	}
	#a-side-b {padding:0px 0px 0px 0px;	 
	}
	#a-footer {padding:0px 0px 0px 0px;	 
	}
	#a-site_contents  { 
}}

#bk6153 { background: url(../../_src/5341/img20160125131656641123.png) repeat-x left top; }
#bk6153 > div { margin:0 auto; max-width:960px; }
#bk6153 > div { padding-left: 0px; padding-top: 5px; padding-right: 0px; padding-bottom: 0px;  } 
#bk6156 > div { padding-left: 0px; padding-top: 80px; padding-right: 0px; padding-bottom: 0px;  } 
#bk6160 > div { padding-left: 20px; padding-top: 50px; padding-right: 0px; padding-bottom: 30px;  } 
#bk6163 { background: #E7F5F8; }
#bk6163 > div { margin:0 auto; max-width:100%; }
#bk6154 > div { margin:0 auto; max-width:1020px; }
#bk6154 > div { padding-left: 10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk6161 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 60px;  } 
#bk6164 { background: #203864; }
#bk6164 > div { margin:0 auto; max-width:1200px; }
#bk6164 > div { padding-left: 20px; padding-top: 30px; padding-right: 20px; padding-bottom: 30px;  } 
.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:1000px; }


@media (max-width: 641px) {
		.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6153.b-plain > .column,#bk6153.b-plain > .g-column,#bk6153.b-both_diff > .column,#bk6153.b-both_diff > .g-column,#bk6153.b-headlines > .column,#bk6153.b-headlines > .g-column,#bk6153.b-album > .column,#bk6153.b-album > .g-column,#bk6153.b-tab > .column,#bk6153.b-tab > .g-column,#bk6153.b-accordion > .column,#bk6153.b-accordion > .g-column { margin:0 auto; max-width:70%; }
		#bk6153 > div { padding: 15px; }
		#bk6155.b-plain > .column,#bk6155.b-plain > .g-column,#bk6155.b-both_diff > .column,#bk6155.b-both_diff > .g-column,#bk6155.b-headlines > .column,#bk6155.b-headlines > .g-column,#bk6155.b-album > .column,#bk6155.b-album > .g-column,#bk6155.b-tab > .column,#bk6155.b-tab > .g-column,#bk6155.b-accordion > .column,#bk6155.b-accordion > .g-column { margin:0 auto; max-width:100px; }
		#bk6156.b-plain > .column,#bk6156.b-plain > .g-column,#bk6156.b-both_diff > .column,#bk6156.b-both_diff > .g-column,#bk6156.b-headlines > .column,#bk6156.b-headlines > .g-column,#bk6156.b-album > .column,#bk6156.b-album > .g-column,#bk6156.b-tab > .column,#bk6156.b-tab > .g-column,#bk6156.b-accordion > .column,#bk6156.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6156 > div { padding: 15px; }
		#bk6160.b-plain > .column,#bk6160.b-plain > .g-column,#bk6160.b-both_diff > .column,#bk6160.b-both_diff > .g-column,#bk6160.b-headlines > .column,#bk6160.b-headlines > .g-column,#bk6160.b-album > .column,#bk6160.b-album > .g-column,#bk6160.b-tab > .column,#bk6160.b-tab > .g-column,#bk6160.b-accordion > .column,#bk6160.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6160 > div { padding-left: 20px; padding-top: 0px; padding-right: 20px; padding-bottom: 10px;  } 
		#bk6162.b-plain > .column,#bk6162.b-plain > .g-column,#bk6162.b-both_diff > .column,#bk6162.b-both_diff > .g-column,#bk6162.b-headlines > .column,#bk6162.b-headlines > .g-column,#bk6162.b-album > .column,#bk6162.b-album > .g-column,#bk6162.b-tab > .column,#bk6162.b-tab > .g-column,#bk6162.b-accordion > .column,#bk6162.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6163.b-plain > .column,#bk6163.b-plain > .g-column,#bk6163.b-both_diff > .column,#bk6163.b-both_diff > .g-column,#bk6163.b-headlines > .column,#bk6163.b-headlines > .g-column,#bk6163.b-album > .column,#bk6163.b-album > .g-column,#bk6163.b-tab > .column,#bk6163.b-tab > .g-column,#bk6163.b-accordion > .column,#bk6163.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6154.b-plain > .column,#bk6154.b-plain > .g-column,#bk6154.b-both_diff > .column,#bk6154.b-both_diff > .g-column,#bk6154.b-headlines > .column,#bk6154.b-headlines > .g-column,#bk6154.b-album > .column,#bk6154.b-album > .g-column,#bk6154.b-tab > .column,#bk6154.b-tab > .g-column,#bk6154.b-accordion > .column,#bk6154.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6154 > div { padding: 15px; }
		#bk6158.b-plain > .column,#bk6158.b-plain > .g-column,#bk6158.b-both_diff > .column,#bk6158.b-both_diff > .g-column,#bk6158.b-headlines > .column,#bk6158.b-headlines > .g-column,#bk6158.b-album > .column,#bk6158.b-album > .g-column,#bk6158.b-tab > .column,#bk6158.b-tab > .g-column,#bk6158.b-accordion > .column,#bk6158.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6161.b-plain > .column,#bk6161.b-plain > .g-column,#bk6161.b-both_diff > .column,#bk6161.b-both_diff > .g-column,#bk6161.b-headlines > .column,#bk6161.b-headlines > .g-column,#bk6161.b-album > .column,#bk6161.b-album > .g-column,#bk6161.b-tab > .column,#bk6161.b-tab > .g-column,#bk6161.b-accordion > .column,#bk6161.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6161 > div { padding-left: 20px; padding-top: 0px; padding-right: 20px; padding-bottom: 20px;  } 
		#bk6164.b-plain > .column,#bk6164.b-plain > .g-column,#bk6164.b-both_diff > .column,#bk6164.b-both_diff > .g-column,#bk6164.b-headlines > .column,#bk6164.b-headlines > .g-column,#bk6164.b-album > .column,#bk6164.b-album > .g-column,#bk6164.b-tab > .column,#bk6164.b-tab > .g-column,#bk6164.b-accordion > .column,#bk6164.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6164 > div { padding-left: 20px; padding-top: 20px; padding-right: 20px; padding-bottom: 20px;  } 
		#bk6159.b-plain > .column,#bk6159.b-plain > .g-column,#bk6159.b-both_diff > .column,#bk6159.b-both_diff > .g-column,#bk6159.b-headlines > .column,#bk6159.b-headlines > .g-column,#bk6159.b-album > .column,#bk6159.b-album > .g-column,#bk6159.b-tab > .column,#bk6159.b-tab > .g-column,#bk6159.b-accordion > .column,#bk6159.b-accordion > .g-column { margin:0 auto; max-width:100%; }
	}




@media (max-width: 641px) {
}
