@charset "utf-8";
/* page setting
--------------------------------------------------------- */
#a-site_contents { max-width:1000px; }
@media (max-width: 641px) {

}


#page .bg-document { 
 }
#page { 
 }

#a-header {
	}
#a-billboard {
	}
#a-main {
	}
#a-side-a {padding:0px 20px 0px 0px ;	
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document { 
}
#page { 
}
	#a-header {padding:0px 0px 0px 0px;	 
	}
	#a-billboard {padding:0px 0px 0px 0px;	 
	}
	#a-main {padding:0px 0px 0px 0px;	 
	}
	#a-side-a {padding:0px 0px 0px 0px ;	 
	}
	#a-side-b {padding:0px 0px 0px 0px;	 
	}
	#a-footer {padding:0px 0px 0px 0px;	 
	}
	#a-site_contents  { 
}}

#bk6069 { background: url(../../_src/5341/img20160125131656641123.png) repeat-x left top; }
#bk6069 > div { margin:0 auto; max-width:960px; }
#bk6069 > div { padding-left: 0px; padding-top: 5px; padding-right: 0px; padding-bottom: 0px;  } 
#bk6072 > div { padding-left: 0px; padding-top: 80px; padding-right: 0px; padding-bottom: 0px;  } 
#bk6076 > div { padding-left: 20px; padding-top: 50px; padding-right: 0px; padding-bottom: 30px;  } 
#bk6079 { background: #E7F5F8; }
#bk6079 > div { margin:0 auto; max-width:100%; }
#bk6070 > div { margin:0 auto; max-width:1020px; }
#bk6070 > div { padding-left: 10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk6077 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 60px;  } 
#bk6080 { background: #203864; }
#bk6080 > div { margin:0 auto; max-width:1200px; }
#bk6080 > div { padding-left: 20px; padding-top: 30px; padding-right: 20px; padding-bottom: 30px;  } 
.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:1000px; }


@media (max-width: 641px) {
		.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6069.b-plain > .column,#bk6069.b-plain > .g-column,#bk6069.b-both_diff > .column,#bk6069.b-both_diff > .g-column,#bk6069.b-headlines > .column,#bk6069.b-headlines > .g-column,#bk6069.b-album > .column,#bk6069.b-album > .g-column,#bk6069.b-tab > .column,#bk6069.b-tab > .g-column,#bk6069.b-accordion > .column,#bk6069.b-accordion > .g-column { margin:0 auto; max-width:70%; }
		#bk6069 > div { padding: 15px; }
		#bk6071.b-plain > .column,#bk6071.b-plain > .g-column,#bk6071.b-both_diff > .column,#bk6071.b-both_diff > .g-column,#bk6071.b-headlines > .column,#bk6071.b-headlines > .g-column,#bk6071.b-album > .column,#bk6071.b-album > .g-column,#bk6071.b-tab > .column,#bk6071.b-tab > .g-column,#bk6071.b-accordion > .column,#bk6071.b-accordion > .g-column { margin:0 auto; max-width:100px; }
		#bk6072.b-plain > .column,#bk6072.b-plain > .g-column,#bk6072.b-both_diff > .column,#bk6072.b-both_diff > .g-column,#bk6072.b-headlines > .column,#bk6072.b-headlines > .g-column,#bk6072.b-album > .column,#bk6072.b-album > .g-column,#bk6072.b-tab > .column,#bk6072.b-tab > .g-column,#bk6072.b-accordion > .column,#bk6072.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6072 > div { padding: 15px; }
		#bk6076.b-plain > .column,#bk6076.b-plain > .g-column,#bk6076.b-both_diff > .column,#bk6076.b-both_diff > .g-column,#bk6076.b-headlines > .column,#bk6076.b-headlines > .g-column,#bk6076.b-album > .column,#bk6076.b-album > .g-column,#bk6076.b-tab > .column,#bk6076.b-tab > .g-column,#bk6076.b-accordion > .column,#bk6076.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6076 > div { padding-left: 20px; padding-top: 0px; padding-right: 20px; padding-bottom: 10px;  } 
		#bk6078.b-plain > .column,#bk6078.b-plain > .g-column,#bk6078.b-both_diff > .column,#bk6078.b-both_diff > .g-column,#bk6078.b-headlines > .column,#bk6078.b-headlines > .g-column,#bk6078.b-album > .column,#bk6078.b-album > .g-column,#bk6078.b-tab > .column,#bk6078.b-tab > .g-column,#bk6078.b-accordion > .column,#bk6078.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6079.b-plain > .column,#bk6079.b-plain > .g-column,#bk6079.b-both_diff > .column,#bk6079.b-both_diff > .g-column,#bk6079.b-headlines > .column,#bk6079.b-headlines > .g-column,#bk6079.b-album > .column,#bk6079.b-album > .g-column,#bk6079.b-tab > .column,#bk6079.b-tab > .g-column,#bk6079.b-accordion > .column,#bk6079.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6070.b-plain > .column,#bk6070.b-plain > .g-column,#bk6070.b-both_diff > .column,#bk6070.b-both_diff > .g-column,#bk6070.b-headlines > .column,#bk6070.b-headlines > .g-column,#bk6070.b-album > .column,#bk6070.b-album > .g-column,#bk6070.b-tab > .column,#bk6070.b-tab > .g-column,#bk6070.b-accordion > .column,#bk6070.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6070 > div { padding: 15px; }
		#bk6073.b-plain > .column,#bk6073.b-plain > .g-column,#bk6073.b-both_diff > .column,#bk6073.b-both_diff > .g-column,#bk6073.b-headlines > .column,#bk6073.b-headlines > .g-column,#bk6073.b-album > .column,#bk6073.b-album > .g-column,#bk6073.b-tab > .column,#bk6073.b-tab > .g-column,#bk6073.b-accordion > .column,#bk6073.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6077.b-plain > .column,#bk6077.b-plain > .g-column,#bk6077.b-both_diff > .column,#bk6077.b-both_diff > .g-column,#bk6077.b-headlines > .column,#bk6077.b-headlines > .g-column,#bk6077.b-album > .column,#bk6077.b-album > .g-column,#bk6077.b-tab > .column,#bk6077.b-tab > .g-column,#bk6077.b-accordion > .column,#bk6077.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6077 > div { padding-left: 20px; padding-top: 0px; padding-right: 20px; padding-bottom: 20px;  } 
		#bk6080.b-plain > .column,#bk6080.b-plain > .g-column,#bk6080.b-both_diff > .column,#bk6080.b-both_diff > .g-column,#bk6080.b-headlines > .column,#bk6080.b-headlines > .g-column,#bk6080.b-album > .column,#bk6080.b-album > .g-column,#bk6080.b-tab > .column,#bk6080.b-tab > .g-column,#bk6080.b-accordion > .column,#bk6080.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6080 > div { padding-left: 20px; padding-top: 20px; padding-right: 20px; padding-bottom: 20px;  } 
		#bk6074.b-plain > .column,#bk6074.b-plain > .g-column,#bk6074.b-both_diff > .column,#bk6074.b-both_diff > .g-column,#bk6074.b-headlines > .column,#bk6074.b-headlines > .g-column,#bk6074.b-album > .column,#bk6074.b-album > .g-column,#bk6074.b-tab > .column,#bk6074.b-tab > .g-column,#bk6074.b-accordion > .column,#bk6074.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6075.b-plain > .column,#bk6075.b-plain > .g-column,#bk6075.b-both_diff > .column,#bk6075.b-both_diff > .g-column,#bk6075.b-headlines > .column,#bk6075.b-headlines > .g-column,#bk6075.b-album > .column,#bk6075.b-album > .g-column,#bk6075.b-tab > .column,#bk6075.b-tab > .g-column,#bk6075.b-accordion > .column,#bk6075.b-accordion > .g-column { margin:0 auto; max-width:100%; }
	}




@media (max-width: 641px) {
}
