@charset "utf-8";
/* page setting
--------------------------------------------------------- */
#a-site_contents { max-width:1000px; }
@media (max-width: 641px) {

}


#page .bg-document { 
 background-image: url(../../_src/9587/img20160302223614960137.jpg); 
 background-attachment :fixed; 
 background-repeat:repeat-x; 
 background-position:left bottom; 
 }
#page { 
 }

#a-header {
 background-image: url(../../_src/9588/img20160302220555275193.jpg); 
 background-repeat:no-repeat; 
 background-position:center bottom; 
	}
#a-billboard {
	}
#a-main {
	}
#a-side-a {padding:0px 20px 0px 0px ;	
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document { 
}
#page { 
}
	#a-header {padding:0px 0px 0px 0px;	 
	}
	#a-billboard {padding:0px 0px 0px 0px;	 
	}
	#a-main {padding:0px 0px 0px 0px;	 
	}
	#a-side-a {padding:0px 0px 0px 0px ;	 
	}
	#a-side-b {padding:0px 0px 0px 0px;	 
	}
	#a-footer {padding:0px 0px 0px 0px;	 
	}
	#a-site_contents  { 
}}

#bk6081 { background: url(../../_src/5341/img20160125131656641123.png) repeat-x left top; }
#bk6081 > div { margin:0 auto; max-width:960px; }
#bk6081 > div { padding-left: 0px; padding-top: 5px; padding-right: 0px; padding-bottom: 0px;  } 
#bk6084 > div { padding-left: 0px; padding-top: 80px; padding-right: 0px; padding-bottom: 0px;  } 
#bk6088 > div { padding-left: 20px; padding-top: 50px; padding-right: 0px; padding-bottom: 30px;  } 
#bk6091 { background: #E7F5F8; }
#bk6091 > div { margin:0 auto; max-width:100%; }
#bk6082 > div { margin:0 auto; max-width:1020px; }
#bk6082 > div { padding-left: 10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk6089 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 60px;  } 
#bk6092 { background: #203864; }
#bk6092 > div { margin:0 auto; max-width:1200px; }
#bk6092 > div { padding-left: 20px; padding-top: 30px; padding-right: 20px; padding-bottom: 30px;  } 
.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:1000px; }


@media (max-width: 641px) {
		.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6081.b-plain > .column,#bk6081.b-plain > .g-column,#bk6081.b-both_diff > .column,#bk6081.b-both_diff > .g-column,#bk6081.b-headlines > .column,#bk6081.b-headlines > .g-column,#bk6081.b-album > .column,#bk6081.b-album > .g-column,#bk6081.b-tab > .column,#bk6081.b-tab > .g-column,#bk6081.b-accordion > .column,#bk6081.b-accordion > .g-column { margin:0 auto; max-width:70%; }
		#bk6081 > div { padding: 15px; }
		#bk6083.b-plain > .column,#bk6083.b-plain > .g-column,#bk6083.b-both_diff > .column,#bk6083.b-both_diff > .g-column,#bk6083.b-headlines > .column,#bk6083.b-headlines > .g-column,#bk6083.b-album > .column,#bk6083.b-album > .g-column,#bk6083.b-tab > .column,#bk6083.b-tab > .g-column,#bk6083.b-accordion > .column,#bk6083.b-accordion > .g-column { margin:0 auto; max-width:100px; }
		#bk6084.b-plain > .column,#bk6084.b-plain > .g-column,#bk6084.b-both_diff > .column,#bk6084.b-both_diff > .g-column,#bk6084.b-headlines > .column,#bk6084.b-headlines > .g-column,#bk6084.b-album > .column,#bk6084.b-album > .g-column,#bk6084.b-tab > .column,#bk6084.b-tab > .g-column,#bk6084.b-accordion > .column,#bk6084.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6084 > div { padding: 15px; }
		#bk6088.b-plain > .column,#bk6088.b-plain > .g-column,#bk6088.b-both_diff > .column,#bk6088.b-both_diff > .g-column,#bk6088.b-headlines > .column,#bk6088.b-headlines > .g-column,#bk6088.b-album > .column,#bk6088.b-album > .g-column,#bk6088.b-tab > .column,#bk6088.b-tab > .g-column,#bk6088.b-accordion > .column,#bk6088.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6088 > div { padding-left: 20px; padding-top: 0px; padding-right: 20px; padding-bottom: 10px;  } 
		#bk6090.b-plain > .column,#bk6090.b-plain > .g-column,#bk6090.b-both_diff > .column,#bk6090.b-both_diff > .g-column,#bk6090.b-headlines > .column,#bk6090.b-headlines > .g-column,#bk6090.b-album > .column,#bk6090.b-album > .g-column,#bk6090.b-tab > .column,#bk6090.b-tab > .g-column,#bk6090.b-accordion > .column,#bk6090.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6091.b-plain > .column,#bk6091.b-plain > .g-column,#bk6091.b-both_diff > .column,#bk6091.b-both_diff > .g-column,#bk6091.b-headlines > .column,#bk6091.b-headlines > .g-column,#bk6091.b-album > .column,#bk6091.b-album > .g-column,#bk6091.b-tab > .column,#bk6091.b-tab > .g-column,#bk6091.b-accordion > .column,#bk6091.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6082.b-plain > .column,#bk6082.b-plain > .g-column,#bk6082.b-both_diff > .column,#bk6082.b-both_diff > .g-column,#bk6082.b-headlines > .column,#bk6082.b-headlines > .g-column,#bk6082.b-album > .column,#bk6082.b-album > .g-column,#bk6082.b-tab > .column,#bk6082.b-tab > .g-column,#bk6082.b-accordion > .column,#bk6082.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6082 > div { padding: 15px; }
		#bk6085.b-plain > .column,#bk6085.b-plain > .g-column,#bk6085.b-both_diff > .column,#bk6085.b-both_diff > .g-column,#bk6085.b-headlines > .column,#bk6085.b-headlines > .g-column,#bk6085.b-album > .column,#bk6085.b-album > .g-column,#bk6085.b-tab > .column,#bk6085.b-tab > .g-column,#bk6085.b-accordion > .column,#bk6085.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6089.b-plain > .column,#bk6089.b-plain > .g-column,#bk6089.b-both_diff > .column,#bk6089.b-both_diff > .g-column,#bk6089.b-headlines > .column,#bk6089.b-headlines > .g-column,#bk6089.b-album > .column,#bk6089.b-album > .g-column,#bk6089.b-tab > .column,#bk6089.b-tab > .g-column,#bk6089.b-accordion > .column,#bk6089.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6089 > div { padding-left: 20px; padding-top: 0px; padding-right: 20px; padding-bottom: 20px;  } 
		#bk6092.b-plain > .column,#bk6092.b-plain > .g-column,#bk6092.b-both_diff > .column,#bk6092.b-both_diff > .g-column,#bk6092.b-headlines > .column,#bk6092.b-headlines > .g-column,#bk6092.b-album > .column,#bk6092.b-album > .g-column,#bk6092.b-tab > .column,#bk6092.b-tab > .g-column,#bk6092.b-accordion > .column,#bk6092.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6092 > div { padding-left: 20px; padding-top: 20px; padding-right: 20px; padding-bottom: 20px;  } 
		#bk6086.b-plain > .column,#bk6086.b-plain > .g-column,#bk6086.b-both_diff > .column,#bk6086.b-both_diff > .g-column,#bk6086.b-headlines > .column,#bk6086.b-headlines > .g-column,#bk6086.b-album > .column,#bk6086.b-album > .g-column,#bk6086.b-tab > .column,#bk6086.b-tab > .g-column,#bk6086.b-accordion > .column,#bk6086.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk6087.b-plain > .column,#bk6087.b-plain > .g-column,#bk6087.b-both_diff > .column,#bk6087.b-both_diff > .g-column,#bk6087.b-headlines > .column,#bk6087.b-headlines > .g-column,#bk6087.b-album > .column,#bk6087.b-album > .g-column,#bk6087.b-tab > .column,#bk6087.b-tab > .g-column,#bk6087.b-accordion > .column,#bk6087.b-accordion > .g-column { margin:0 auto; max-width:100%; }
	}




@media (max-width: 641px) {
}
