@charset "utf-8";
/*---------------------------------

  共通設定

---------------------------------*/
.border {
  border: solid 1px #ccc;
}

/*---------------------------------

  クレジットカード・ICカード・QRコード決済対応券売機

---------------------------------*/
.cashless-machine {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  gap: 32px;
}

.cashless-machine__img {
  border: 1px solid #ccc;
  height: 475px;
}

/*---------------------------------

  キャッシュレス決済取次

---------------------------------*/
.cashless-payment {
  display: flex;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
  width: 100%;
}

/*---------------------------------

  PC表示

---------------------------------*/
@media screen and (min-width: 768px) {
  .cashless-machine {
    flex-direction: row;
  }
  .cashless-payment {
    width: 50%;
    margin-top: 0;
  }
}
